.login_page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    justify-content: center;
    margin: auto;
    background-color: #fff;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title{
    margin: 0px;
    font-size: 18px;
    font-weight: 700;
    color: #2874f0;
}

.login_input{
    padding: 8px 10px;
    border-radius: 5px;
    border: 0.5px solid gray;
}   

.login_btn{
    background-color: #2874f0;
    color: #fff;
    border: none;
    width: 120px;
    height: 35px;
    font-size: 17px;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
}