.messsage_box{
    width: 100%;
    height: 100vh;
    background: url("/public/bg-chat.png");
    position: relative;
}

.messages_container{
   height: 80vh;
   overflow-y: scroll;
   margin-bottom: 200px;
   padding-bottom: 200px;
}